<div *ngIf="dataLoaded==false" class="spinner-border text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Araba Id</th>
            <th>Müşteri Id</th>
            <th>Kiralama Tarihi</th>
            <th>Dönüş Tarihi</th>
       </tr>
    </thead>
   <tr *ngFor="let rental of rentals">
       <td>{{rental.Id}}</td>
       <td>{{rental.carId}}</td>
       <td>{{rental.customerId}}</td>
       <td>{{rental.rentDate}}</td>
       <td>{{rental.returnDate}}</td>
   </tr>
</table>
